<!DOCTYPE html>
<html>
<title>Tasty Api - Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container Lmao test--> 
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-left"><img src="{{url_for('static', filename='headerlogo.png')}}" style="height:75px" alt="Miner Monitor"></span>
</div>
  <hr>
  <hr>
  <hr>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  {% if current_user.is_authenticated %}
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{ name }}</strong></span><br>
    </div>
  </div>
  <hr>
  {% endif %}

  <div class="w3-container">
    <h5>Quick Links</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('main.index') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Home</a>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('main.profile') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-qrcode fa-fw"></i>Active Keys</a>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-in-alt fa-fw"></i>Login</a>
    {% endif %}
    <a href="{{ url_for('auth.signup') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-plus fa-fw"></i>Add Api Key</a>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out-alt fa-fw"></i>Log Out</a>
    {% endif %}
    <br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
{% block content %}
{% endblock %}
  

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey w3-footer">

  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
