{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}


<div class="w3-card-4 w3-padding">
  <div class="w3-container w3-black">
    <h2>Add An Api Key</h2>
  </div>
  <form class="w3-container" method="POST" action="/signup">
    <p>      
    <label class="w3-text-blue-grey"><b>Name</b></label>
    <input class="w3-input w3-border w3-sand" type="text" name="name" placeholder="Name" autofocus=""></p>
    <p>
    <button class="w3-btn w3-black">Add Key</button></p>
  </form>
</div>
  

{% endblock %}
